.FlexPai img{
    display: flex;
    align-items: center;
    margin: auto;
    flex-direction: row;
    max-width: 200px;
    max-height:200px;
    margin: 50px;
}


/* .FotoCapa{
    display: flex;
    align-items: center;
    max-width: 1000px;
    max-height:1000px;
    flex-direction: column;
    margin: auto;
    margin: 100px, 500px, 1000px, 0px;}

    .desc{
        display: flex;
        align-items: center;
        margin: auto;
        flex-direction: column;
        max-width: 10px;
        max-height:10px;
    }

.telefoneImg1{
    display: flex;
    align-items: center;
    margin: auto;
    flex-direction: column;
    max-width: 10px;
    max-height:10px;
    



}

.desc2{
    display: flex;
        align-items: center;
        margin: auto;
        flex-direction: column;
        max-width: 10px;
        max-height:10px;
        
        

}
.telefoneImg2{

    display: flex;
    align-items: center;
    margin: auto;
    flex-direction: column;
    max-width: 10px;
    max-height:10px;
  

}
.telefoneImg3{

    display: flex;
    align-items: center;
    margin: auto;
    flex-direction: column;
    max-width: 10px;
    max-height:10px;
}
.telefoneImg4{

    display: flex; 
    align-items: center;
    margin: auto;
    flex-direction: column;

    max-width: 10px;
    max-height:10px;
}
.telefoneImg5{
    
    display: flex;
    align-items: center;
    margin: auto;
    flex-direction: column;

    max-width: 10px;
    max-height:10px;

 
} */

/* .mainCard{
    display: flex;
    align-items: center;
    margin: auto;
    max-width: 200px;
    max-height:400px;
    margin: 50px;  
} */ 