.body{
    background-color: rgb(247, 247, 247);
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.nome{
   
   
   
   
    text-align: center;

}

.inputNome{
    max-width: 400px;
    width: 100%;
    padding: 20px;
    color: aliceblue;
    
    text-align: center;
    
}

.inputLastName{
    max-width: 400px;
    width: 100%;
    padding: 20px;
    color: aliceblue;
   
    text-align: center;
}

.inputGenero{
    max-width: 400px;
    width: 100%;
    padding: 20px;
    color: aliceblue;
    
    text-align: center;
}

.datanasc{
    /* display: flex;
    flex-direction: row;
    width: 20px;
    height:20px;
    margin: 10px;
    padding: 30px; */
    text-align: center;

}

.inputData{
    max-width: 400px;
    width: 100%;
    padding: 20px;
    color: aliceblue;
    
    text-align: center;
}

.inputEmail{
    max-width: 400px;
    width: 100%;
    padding: 20px;
    color: aliceblue;
    
    text-align: center;
}

.inputEstado{
    max-width: 400px;
    width: 100%;
    padding: 20px;
    color: aliceblue;
    
    text-align: center;
}


.cpf{
    /* display: flex;
    flex-direction: row;
    width: 20px;
    height:20px;
    margin: 10px;
    padding: 10px; */
   
text-align: center;
}

.inputCpf{
    max-width: 400px;
    width: 100%;
    padding: 20px;
    color: aliceblue;
    
    text-align: center;
}

.telefone{
    /* display: flex;
    flex-direction: row;
    width: 20px;
    height:20px;
    margin: 10px;
    padding: 10px; */
    text-align: center;

}

.inputPhone{
    max-width: 400px;
    width: 100%;
    padding: 20px;
    color: aliceblue;
   
    text-align: center;
   
}