.disableLink{
    pointer-events: none;
}



/* .category{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.outhers{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;

}
 .contacts{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
   

} 

.Botao{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin: 50px ;
}

.descriptionSamsung{

}


.descriptionNokia{

}

.descriptionLG{

}

.descriptionsony{

}

.descriptionIphone{

} */
